<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>login.jsp</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegistrationServlet</display-name>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>com.example.controller.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.example.controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.example.controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPassword</display-name>
    <servlet-name>ForgotPassword</servlet-name>
    <servlet-class>com.example.controller.ForgotPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPassword</servlet-name>
    <url-pattern>/ForgotPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPasswords</display-name>
    <servlet-name>ForgotPasswords</servlet-name>
    <servlet-class>com.example.controller.ForgotPasswords</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPasswords</servlet-name>
    <url-pattern>/ForgotPasswords</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DBUtil</display-name>
    <servlet-name>DBUtil</servlet-name>
    <servlet-class>com.example.util.DBUtil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBUtil</servlet-name>
    <url-pattern>/RegistrationDBUtil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewProfile</display-name>
    <servlet-name>viewProfile</servlet-name>
    <servlet-class>com.uniquedeveloper.registration.viewProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewProfile</servlet-name>
    <url-pattern>/viewProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewProfileServlet</display-name>
    <servlet-name>ViewProfileServlet</servlet-name>
    <servlet-class>com.example.controller.ViewProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewProfileServlet</servlet-name>
    <url-pattern>/ViewProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateProfileServlet</servlet-name>
    <servlet-class>com.example.controller.UpdateProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProfileServlet</servlet-name>
    <url-pattern>/updateProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteProfile</servlet-name>
    <servlet-class>com.example.controller.DeleteProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProfile</servlet-name>
    <url-pattern>/deleteProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDashboard</display-name>
    <servlet-name>AdminDashboard</servlet-name>
    <servlet-class>com.example.controller.AdminDashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDashboard</servlet-name>
    <url-pattern>/AdminDashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BillerServerlet</display-name>
    <servlet-name>BillerServerlet</servlet-name>
    <servlet-class>com.example.controller.BillerServerlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BillerServerlet</servlet-name>
    <url-pattern>/BillerServerlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PendingServlet</display-name>
    <servlet-name>PendingServlet</servlet-name>
    <servlet-class>com.example.controller.PendingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PendingServlet</servlet-name>
    <url-pattern>/PendingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BillerServlet</display-name>
    <servlet-name>BillerServlet</servlet-name>
    <servlet-class>com.example.controller.BillerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BillerServlet</servlet-name>
    <url-pattern>/BillerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <description></description>
    <display-name>testServlet</display-name>
    <servlet-name>testServlet</servlet-name>
    <servlet-class>com.example.controller.testServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testServlet</servlet-name>
    <url-pattern>/testServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteTransaction</display-name>
    <servlet-name>DeleteTransaction</servlet-name>
    <servlet-class>com.example.controller.DeleteTransaction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTransaction</servlet-name>
    <url-pattern>/DeleteTransaction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditTransfer</display-name>
    <servlet-name>EditTransfer</servlet-name>
    <servlet-class>com.example.controller.EditTransfer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditTransfer</servlet-name>
    <url-pattern>/EditTransfer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>displayTransactions</display-name>
    <servlet-name>displayTransactions</servlet-name>
    <servlet-class>com.example.controller.displayTransactions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>displayTransactions</servlet-name>
    <url-pattern>/displayTransactions</url-pattern>
  </servlet-mapping>
</web-app>